@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Core.Entities.Cargo>
@{
    ViewData["Title"] = "AZ";
    int count = 1;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Azerbaijan depo</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Track Id </th>
                        <th> User </th>
                        <th> Name </th>
                        <th> Cargo Price </th>
                        <th> Weight </th>
                        <th> Delivery Price </th>
                        <th> Filial </th>
                        <th> Date </th>
                        <th> Status </th>
                        <th> Proceedings </th>
                        @*<th> Settings </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cargo in Model.Where(c=>c.IsTurkey==false))
                    {
                        <tr>
                            <td> @count </td>
                            <td> @cargo.TrackId </td>
                            <td> @cargo.ApplicationUser.Name @cargo.ApplicationUser.Surname </td>
                            <td> @cargo.Name </td>
                            <td> @cargo.CargoPrice TL</td>
                            <td> @cargo.Weight </td>
                            <td> @cargo.DeliveryPrice $</td>
                            <td> @cargo.ApplicationUser.Filial.Name </td>
                            <td> @cargo.TurkeyDate </td>
                            <td>
                                @if (@cargo.IsWay == true)
                                {
                                    <span style="display: block; font-weight: 900; line-height: 25px">Yoldadır:  </span>
                                    <span>@cargo.WayDate</span>
                                }
                                @if (@cargo.IsCustoms == true)
                                {
                                    <span style="display: block; font-weight: 900; line-height: 25px">Gömrükdədir: </span>
                                    <span>@cargo.CustomsDate</span>
                                }
                                @if (@cargo.IsFilial == true)
                                {
                                    <span style="display: block; font-weight: 900; line-height: 25px">Filialdadır: </span>
                                    <span>@cargo.FilialDate</span>
                                } 
                                @if (@cargo.IsDelivery == true)
                                {
                                    <span style="display: block; font-weight: 900; line-height: 25px">Təhvil verilib: </span>
                                    <span>@cargo.DeliveryDate</span>
                                }
                            </td>
                            <td>
                                @if (@cargo.IsWay == true)
                                {
                                    <a asp-controller="Cargo" asp-action="SenderCustoms" asp-route-id="@cargo.Id" class="btn btn-success">Gömrükə göndər</a>
                                }
                                @if (@cargo.IsCustoms == true)
                                {
                                    <a asp-controller="Cargo" asp-action="SenderFilial" asp-route-id="@cargo.Id" class="btn btn-success">Filiala göndər</a>
                                }
                                @if (@cargo.IsFilial == true)
                                {
                                    <a asp-controller="Cargo" asp-action="Delivered" asp-route-id="@cargo.Id" class="btn btn-success">Təhvil ver</a>
                                }
                            </td>
                            @*<td>
                                <a asp-controller="Cargo" asp-action="Update" asp-route-id="@cargo.Id" class="btn btn-primary">Update</a>
                                <a asp-controller="Cargo" asp-action="Delete" asp-route-id="@cargo.Id" class="btn btn-danger">Delete</a>
                            </td>*@
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

