@model Core.Entities.Addresses
@{
    ViewData["Title"] = "Index";
}
<div class="col-lg-12 col-12 layout-spacing" style="padding: 5%">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Türkiye ünvanım</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div class="clipboard">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="input-nameCountry">Ülke</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-nameCountry" value="Turkey" readonly="">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="input-addressTitle">Adres başlığı</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-addressTitle" value="@Model.AddressTitleTR" readonly="">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="input-city">İl-Şehir</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-city" value="@Model.CityTR" readonly="">
                            <div class="input-group-append">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="input-ilche">İlçe</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-ilche" value="@Model.CountryDistrictTR" readonly="">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="input-Semt">Semt</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-Semt" value="@Model.NeighborhoodTR" readonly="">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <label for="input-addressTurkey">Türkiyə ünvanım</label>
                        <div class="input-group">
                            <textarea type="text" class="form-control" id="input-addressTurkey" style="resize: none;height: 35px;line-height: 30px;" readonly="">@Model.AddressTR</textarea>
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="input-mobilePhone">Mobil telefon</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-mobilePhone" value="@Model.PhoneNumberTR" readonly="">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="input-zip">ZIP/Post kodu</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-zip" value="@Model.PostalCodeTR" readonly="">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="input-tckimlik">TC kimlik</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="input-tckimlik" value="@Model.TrID" readonly="">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-success" asp-controller="Adresses" asp-action="UpdateTurkey" asp-route-id="1">Update</a>
        </div>
    </div>
</div>